.logos {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    padding: 20px;
}

aside {
    width: 30%;
    padding: 15px;
    border-left: solid 1px lightgray;
}

article {
    max-width: 60%;
    padding: 15px;
}