.logos {
    padding: 20px;
}

aside {
    width: 55%;
    padding-left: 5px;
    border-left: solid 2px #9E8E4E;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

article {
    max-width: 40%;
    padding: 15px;
}

.asideImages {
    width: 100%;
}

.viewportHeight{
    height: 50vh;
}