.logos {
    padding: 20px;
}

aside {
    width: 55%;
    padding: 15px;
    border-left: solid 1px lightgray;
}

article {
    max-width: 40%;
    padding: 15px;
}

.asideImages {
    width: 100%;
}

.viewportHeight{
    height: 50vh;
}