.childLanding {
    z-index: 1;
    order: 3;
    background: black;
    position: absolute;
    opacity: .9;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: opacity .5s linear;
}

.disappear {
    opacity: 0;
    transition: opacity .7s, visibility .5s linear;
    visibility: hidden;
}

.enterButton {
    z-index: 2;
    order: 2;
    background: none;
    border: solid 3px lightgreen;
    border-radius: 5px;
    color: lightgreen;
    padding: 30px;
}

.parentLanding { 
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center; 
    align-items: center;
}

.title {
    order: 1;
    z-index: 2;
    color: white;
    font-size: 15vw;
    margin: 0;
    transition: opacity .5s linear;
}


/* 
#############################################
hover
#############################################
*/

.enterButton:hover {
    cursor: pointer;
    color: greenyellow;
    border: dashed 3px greenyellow; 
}

.enterButton:hover ~ .title, .enterButton:hover ~ .childLanding{
    opacity: .8;
    transition: opacity .5s linear;
} 
