.flexboxRow {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.footer {
    border-top: solid 2px grey;
}

.navList {
    list-style-type: none;
    padding-left: 0;
}