.navDiv {
    position: absolute;
    top: 3%;
    left: 5%;
}

#basic-button {
    background: #cbe1f0;
    border: solid 3px grey;
    border-radius: 10px;
    color: #9e8d4f;
    font-family: 'Roboto Mono', monospace;
    font-size: calc(1vw + 3px);
    Padding: 30%;

}

#basic-button:hover {
    border: solid 3px #9e8d4f;
    color: #E8E2CD;
    background: #617C91;
    font-weight: bold; 
}

#basic-menu .customItem{
    border-bottom: 1px dashed #9e8d4f;
}
#basic-menu .customItem:last-of-type{
    border-bottom: none;
}
