.logos {
    padding: 20px;
}

aside {
    width: 55%;
    padding-left: 5px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

article {
    max-width: 40%;
    padding: 15px;
}

.asideImages {
    object-fit: fill;
    padding: 0 5%;
}

.viewportHeight{
    height: 50vh;
}