/* 
############################################################

flexbox

############################################################
*/

.flex {
    display: flex;
}

.rowNoWrap {
    flex-flow: row nowrap;
}

.rowWrap {
    flex-flow: row wrap;
}

.colNoWrap {
    flex-flow: column nowrap;
}

.colWrap {
    flex-flow: column wrap;
}

.alignContentCenter {
    align-content: center;
}

.alignItemsCenter {
    align-items: center;
}

.alignItemsStretch {
    align-items: stretch;
}

.justifyCenter {
    justify-content: center;
}

.justifyStart {
    justify-content: flex-start;
}

.justifySpaceAround {
    justify-content: space-around;
}

.justifySpaceEvenly {
    justify-content: space-evenly;
}

.justifySpaceBetween {
    justify-content: space-between;
}

.justifyItemsCenter {
    justify-items: center;
}

.justifyStretch {
    justify-content: stretch;
}

.item1{
    flex-grow: 1;
}

.item5{
    flex-grow:5;
}

/* 
############################################################

Display

############################################################
*/

.displayBlock {
    display: block;
}

.displayNone {
    display: none;
}

/* 
############################################################

Main styles

############################################################
*/

.width100 {
    width: 100%;
}

.paddingLeft20 {
    padding-left: 20%;
}

.navBar {
    background: #E8E2CD;
}

a {
    text-decoration: none;
    color: inherit;
    font-style: inherit;
}

aside h2 {
    text-align:center;
}

.intro {
    width: 100 vw;
}

.main {
    background: #617C91;
    /* color: #E0D5C5;  */
    color: #E8E2CD;
    font-family: 'Roboto Mono', monospace;
}

.mainContainer {
    background: linear-gradient(to bottom right, #cbe1f0, #617C91);
}


.pageClass {
    width: 100%;
    position: relative;
    margin: none;
    padding: none;
}
